body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #7F839B;
}
a{
  text-decoration: none;
  color: black;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px;
    background: #7F839B;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #001EF2;
}

.cell:hover {
    background-color: solid;
}

.status {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.reset-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.reset-btn:hover {
    background-color: #45a049;
}

.winning-cell {
  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.5s;
}
